@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 1440px;
  height: 100dvb;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.form {
  width: fit-content;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: black;
    outline: none;
  }
}

.button {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
  }
}

.chat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

@media (max-width: 768px) {
  .chat {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.chat-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  max-width: 500px;
  height: 70vh;
  list-style: none;
  padding: 20px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: auto;
  scroll-behavior: smooth;
}

.message {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: fit-content;
  margin-bottom: 1rem;
  padding: 8px 20px 8px 10px;
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  word-wrap: break-word;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  & > span:first-child {
    font-weight: bold;
    font-size: small;
    text-transform: capitalize;
    margin-bottom: 2px;
  }
}

.message__user {
  background-color: rgb(212, 236, 255);
  justify-self: start;
}
